html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.opacity-temp-7 {
  opacity: 0.7;
}

.d-none {
  display: none;
}

.sim-body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4b4b4;
  /* adding black background for letterboxing effect */
  overflow: hidden;
}

.text-white {
  color: white;
}

.absolute {
  position: absolute;
}

.level_1_01 {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 100vh;
  margin: auto;
}

.scene {
  width: 100%;
  height: 100%;
}

.scene img {
  position: absolute;
  max-width: 100%;
}

.level_1_01 img {
  position: absolute;
  max-width: 100%;
  /* Ensure images don't overflow */
}

.bg {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;

}

.scroll-bg {
  width: 77%;
  height: 30%;
  /* Maintain aspect ratio */
  left: 50%;
  top: 55%;
  transform: translate(-50%, -45%);
}

.treasure-box {
  width: 9%;
  top: 28%;
  left: 76.5%;
}

.pyramid {
  width: 28%;
  top: 24%;
  left: 45%;
}

.ship {
  width: 14%;
  top: 27%;
  left: 25.5%;
}

.island {
  width: 14%;
  top: 17%;
  left: 12%;
}

.main-heading {
  left: 50%;
  top: 56%;
  transform: translate(-50%, -44%);
  width: 60%;
  text-align: center;
}

.main-heading h1 {
  font-size: 4vw;
  margin: 0;
  white-space: nowrap;
}



/* Scene 2 */
.scroll-bg-2 {
  position: absolute;
  width: 69%;
  height: 19%;
  left: 15%;
  top: 3%;
  /* opacity: 0.8; */
}

.main-heading-2 {
  left: 50%;
  top: 12%;
  transform: translate(-50%, -12%);
  width: 60%;
  text-align: center;
}

.main-heading-2 h1 {
  font-size: 2.5vw;
  margin: 0;
  white-space: nowrap;
}

.start-arrow {
  width: 19.5%;
  bottom: 10%;
  left: 5.8%;
  cursor: pointer;
}

.start-arrow-text {
  width: 10%;
  bottom: 6%;
  left: 9%;
  cursor: pointer;
}

.start-arrow-text:hover h3 {
  cursor: pointer;
  color: #d0ff00;
}

.start-arrow-text h3 {
  font-size: 2.5vw;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.ship-2 {
  width: 11%;
  top: 35%;
  left: 83.5%;
}

.treasure-box-2 {
  width: 5.7%;
  left: 63.5%;
  top: 22%;
}

.babumon-2 {
  width: 7.8%;
  top: 49%;
  left: 9%;
}

/* scene 2 end */



/* scene 3 */

.scroll-bg-3 {
  width: 60%;
  height: 19%;
  left: 20%;
  top: 9%;
}

.binocular {
  width: 33%;
  top: 37%;
  left: 12%;
}

.main-heading-3 {
  left: 50%;
  top: 17.5%;
  transform: translate(-50%, -17.5%);
  width: 60%;
  text-align: center;
}

.main-heading-3 h1 {
  font-size: 3vw;
  margin: 0;
  white-space: nowrap;
}

.points-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 48%;
  top: 33%;
  width: 40%;
  font-size: 2vw;
  font-weight: normal;

}

ul li::marker {
  font-size: 4vw;
  /* bullet size */
}

.next-btn {
  position: absolute;
  top: 85%;
  left: 77%;
  transform: translate(-50%, -50%);
  padding: 14px 50px 14px 24px;
  background: #6c5ce7;
  /* purple */
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

/* arrow head */
.next-btn::after {
  content: "";
  position: absolute;
  top: -16px;
  right: -32px;
  width: 0;
  height: 0;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
  border-left: 33px solid #6c5ce7;
}

.next-btn:hover {
  background: #180d7c;
}

.next-btn:hover::after {
  border-left-color: #180d7c;
}